!!!

%html
  %head
    %title JS App Template
    %script{ type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
    %script{ type: 'text/javascript', src: 'js/script.js' }
    %link{ type: 'text/css', rel: 'stylesheet', href: 'css/style.css' }
  %body
    Body content here
